
.svg-container{ 
    position: absolute;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}







/* Comportement cacher par default */
.logo,
.menu,
.card-container{
    opacity: 0;
}
