
/* Container */


.home .container {
    max-width: 1266px;
    width: 100%;
    margin: 0 auto ;
    position: relative;
    min-height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Studio Image */
/* .home .studio-img {
    position: absolute;
    right: 10px;
    border-radius: 35px 3px 35px 3px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.home .studio-img img {
    filter: brightness(1.5);
    object-fit: contain;
} */
.container  .studio-img {
    position: absolute;
    right: 10px;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    overflow: hidden;
}
.container  .studio-img img {
    filter: brightness(1.5);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}
.container  .disque-image-logo{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(250, 0, 0, 0.651);
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .studio-img-overlay{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: hsl(230, 25%, 5%);
    z-index: 99;
}

/* Studio Texte */
.home-text{
    z-index: 200;
    float: left;
    color: #fff;
    margin-top: 70px;
    position: absolute;
    left: 20px;
}
.home-text h6{
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 16px;
    margin: 50px 0;
}
.home-text h1 {
    text-transform: uppercase;
    font-size: 100px;
}
.home-text p {
    max-width: 500px;
    font-size: 16px;
    margin-top: 230px;
}

.home-text .name span {
    margin-right: 1px;
   display: inline-block;
}
.home-text .name span:nth-child(6){
    margin-right: 25px;
}
.home-text .name span:last-child {
    margin-right: 0;
}


@media (max-width:850px) {
    .container  .studio-img {
        left: 35%;
        width: 600px;
        height: 600px;
    }
    
    .home-text {
        margin-top: 0;
        color: #fff;
        position: absolute;
        margin-left: 30px;
    }

    .home-text h1 {
        text-transform: uppercase;
        font-size: 70px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 0;
    }
    .home-text .name span.char6 {
        margin-left:-32px; 
    }
    .home-text p {
        max-width: 360px;
        margin-top: 200px;
    }
}

/* Comportement cacher par default */
.home .studio-img img,
.studio span,
.name span,
.logo,
.disque-image-logo,
.menu,
.small-intro span {
    opacity: 0;
}